
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

.clock-container {
  background: #018DED url(../codioful-formerly-gradienta-OzfD79w8ptA-unsplash.jpg);
  background-size: cover;
}

* {
  font-family: 'Inter', 'helvetica neue', sans-serif;
}